---
import SectionLayout from "../layouts/SectionLayout.astro";
import { JSW_COLORS } from "../utils/constants";
import DownloadProductCatalogueCard from "./DownloadProductCatalogueCard.astro";
import ProductCard from "./ProductCard.astro";
let {
  headerBG,
  title,
  products,
  otherCategories,
  categoryBrochure,
  bannerImages,
} = Astro.props;
---

<!-- <section
  class=""
  style={{
    backgroundImage: `url(${headerBG})`,
    height: "400px",
    width: "100%",
    backgroundSize: "cover",
  }}
>
</section> -->
<section class="banner-slider">
  {
    bannerImages.map((img) => (
      <div class="w-100 h-100">
        <img src={img} alt={title} class="w-100 object-fit-cover" />
      </div>
    ))
  }
</section>
<SectionLayout className="my-5">
  <!-- <div
    class="d-flex justify-content-start align-items-center"
    style={`color:${JSW_COLORS.p1}`}
  >
    <span
      style={`display:block; width:30px; height:2px; background:${JSW_COLORS.p1}`}
    ></span>
    <p class="mb-0 ml-2">SOLUTIONS</p>
  </div> -->
  <h1>{title}</h1>
</SectionLayout>
<SectionLayout className="py-5">
  <div
    class="products"
    style={{
      gap: "2rem",
    }}
  >
    {
      products.map((product) => {
        return <ProductCard {product} />;
      })
    }
  </div>
</SectionLayout>
<SectionLayout className="my-5">
  <h1
    style={{
      fontWeight: "bold",
      textAlign: "center",
    }}
  >
    Other Categories
  </h1>
  <div
    class="categories-container d-flex flex-wrap justify-content-between align-items-stretch mt-5"
  >
    {
      otherCategories.map((category) => {
        return (
          <a
            href={category.link}
            style={{
              textDecoration: "none",
              color: JSW_COLORS.p2,
              position: "relative",
              cursor: "pointer",
            }}
            class="other-cat-card"
          >
            <img
              src={category.image}
              alt={category.title}
              class="other-cat-card-img w-100"
            />
            <p style="font-size: 1.5rem;" class="fw-bold mt-4 text-center">
              {category.title}
            </p>
          </a>
        );
      })
    }
  </div>
</SectionLayout>
<SectionLayout className="my-5">
  <DownloadProductCatalogueCard
    hasButton={true}
    image="/images/construction-chemicals/cta-banner-bg.jpg"
    title="Download Product Catalogue"
    buttonText="Download"
    categoryTitle={title}
    buttonLink={categoryBrochure}
  />
</SectionLayout>

<style>
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  .categories-container {
    gap: 2rem;
  }
  .other-cat-card {
    flex: 1;
    height: 100%;
    min-width: 300px;
  }
  .other-cat-card-img {
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 2.5rem;
  }
  .other-cat-card-img:hover {
    transform: scale(1.05);
  }
  .banner-slider {
    width: 100vw;
    max-height: 500px;
    overflow: hidden;
  }

  .banner-slider > div {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 1000px) {
    .banner-slider {
      min-height: 500px;
    }
  }

  @media screen and (max-width: 768px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>

<script>
  $(document).ready(function () {
    $(".banner-slider").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      speed: 500,
      fade: true,
      showArrows: false,
      cssEase: "linear",
      adaptiveHeight: true,
      autoplay: true,
      autoplaySpeed: 2000,
    });
  });
</script>
