---
import SectionLayout from "../layouts/SectionLayout.astro";
import { JSW_COLORS } from "../utils/constants";
import AnchorButton from "./AnchorButton.astro";

const {
  direction = "ltr",
  bg = "dark",
  title,
  description,
  image,
  link,
  features = [],
} = Astro.props;

function getColor() {
  if (bg === "dark") {
    return JSW_COLORS.bg.grey;
  }

  return JSW_COLORS.bg.light;
}
---

<div style={`background-color:${getColor()}`} class="category-wrapper">
  <SectionLayout
    className={`category-section d-flex justify-content-between align-items-stretch ${
      direction === "rtl"
        ? "flex-column flex-md-row-reverse"
        : "flex-column flex-md-row"
    }`}
  >
    <div
      class={`content-container ${direction === "rtl" ? "ml-md-5" : "pr-md-5"}`}
    >
      <h2>{title}</h2>
      <p
        class="mt-2 fw-light"
        style={`color:${JSW_COLORS.text.grey}; font-size: 1.25rem`}
      >
        {description}
      </p>
      <ul class="features">
        {
          features.map((feature) => (
            <li class="my-2 fw-bold" style={`color:${JSW_COLORS.text.grey}`}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <rect width="24" height="24" rx="12" fill="#17479E" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.0758 8.20901L9.77062 13.4715L8.36282 11.9255C8.10349 11.6742 7.69597 11.659 7.39959 11.8722C7.11062 12.0931 7.02911 12.4815 7.20694 12.7937L8.87407 15.5811C9.03708 15.8401 9.31864 16 9.63725 16C9.94104 16 10.23 15.8401 10.393 15.5811C10.6598 15.2232 15.7501 8.98582 15.7501 8.98582C16.4169 8.28516 15.6093 7.66828 15.0758 8.20139V8.20901Z"
                  fill="white"
                />
              </svg>
              <span class="ml-3">{feature}</span>
            </li>
          ))
        }
      </ul>
      <div class="my-5">
        <AnchorButton
          href={link}
          style={`background:${JSW_COLORS.p2}`}
          className="text-white d-inline-block"
        >
          View Details
        </AnchorButton>
      </div>
    </div>
    <div class="image-container">
      <img src={image} alt={title} />
    </div>
  </SectionLayout>
</div>

<style>
  .features {
    list-style: none;
    margin: 0 !important;
    padding: 0;
  }
  .content-container,
  .image-container {
    flex: 1;
  }
  .content-container > p {
    text-wrap: break-word;
  }
  .image-container {
    border-radius: 2rem;
    overflow: hidden;
  }
  .image-container img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .category-wrapper {
    padding: 100px 0;
    margin: 50px 0;
  }

  @media screen and (max-width: 924px) {
    .category-wrapper {
      padding: 50px 0;
    }
    .category-section {
      flex-direction: column;
    }
  }
</style>
