---
import SectionLayout from "../layouts/SectionLayout.astro";
import { JSW_COLORS } from "../utils/constants";
import DownloadProductCatalogueCard from "./DownloadProductCatalogueCard.astro";
let { headerBG, title, products, otherCategories } = Astro.props;
---

<section
  class=""
  style={{
    backgroundImage: `url(${headerBG})`,
    height: "400px",
    width: "100%",
  }}
>
</section>
<SectionLayout className="my-5">
  <div
    class="d-flex justify-content-start align-items-center"
    style={`color:${JSW_COLORS.p1}`}
  >
    <span
      style={`display:block; width:30px; height:2px; background:${JSW_COLORS.p1}`}
    ></span>
    <p class="mb-0 ml-2">SOLUTIONS</p>
  </div>
  <h1>{title}</h1>
</SectionLayout>
<SectionLayout className="py-5">
  <div
    class="products"
    style={{
      gap: "2rem",
    }}
  >
    {
      products.map((product) => {
        return (
          <div class="product-box-bblestds">
            <img
              style={{
                height: "80%",
                maxWidth: "100%",
                objectFit: "contain",
              }}
              src={product.image}
              alt={product.name}
            />
            <h5
              style={{
                fontWeight: "bold",
              }}
              class="text-center"
            >
              {product.name}
            </h5>
            <a class="product-button-bblestds" href={product.link}>
              View Details
            </a>
          </div>
        );
      })
    }
  </div>
</SectionLayout>
<SectionLayout className="my-5">
  <h1
    style={{
      fontWeight: "bold",
      textAlign: "center",
    }}
  >
    Other Category Ranges
  </h1>
  <div class="d-flex flex-wrap justify-content-between align-items-center mt-5">
    {
      otherCategories.map((category) => {
        return (
          <div class="other-cat-card">
            <a
              href={category.link}
              style={{
                textDecoration: "none",
                color: JSW_COLORS.p2,
                position: "relative",
                padding: "1rem",
                cursor: "pointer",
              }}
              class="flex-1 d-flex flex-column align-items-center justify-content-center w-100 h-100"
            >
              <img
                src={category.image}
                alt={category.name}
                style="object-fit: cover;"
                class="other-cat-card-img w-100 h-100"
              />
              <p style="font-size: 1.5rem;" class="fw-bold mt-4">
                {category.name}
              </p>
            </a>
          </div>
        );
      })
    }
  </div>
</SectionLayout>
<SectionLayout className="my-5">
  <DownloadProductCatalogueCard
    hasButton={true}
    image="/images/tile-adhesive/Rectangle522.png"
    title="Download Brochure"
    buttonText="Download"
    buttonLink="/download"
  />
</SectionLayout>

<style>
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  .other-cat-card {
    overflow: hidden;
    border-radius: 2rem;
  }
  .other-cat-card-img {
    transition: all 0.3s ease-in-out;
  }
  .other-cat-card-img:hover {
    transform: scale(1.05);
  }
  .product-box-bblestds {
    flex: 1;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    gap: 1rem;
    background: linear-gradient(180deg, #21336804, #21336826);
    border-radius: 2rem;
    position: relative;
    color: #17479e;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .product-box-bblestds::after {
    content: "";
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #21336826, #21336899);
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  .product-box-bblestds:hover::after {
    top: 0;
    opacity: 1;
    left: 0;
  }
  .product-box-bblestds:hover h5 {
    transition: all 0.3s ease-in-out;
    color: white;
    z-index: 4;
    transform: translateY(-7rem);
  }
  .product-box-bblestds img {
    transition: all 0.3s ease-in-out;
  }
  .product-box-bblestds:hover img {
    transform: scale(1.05);
  }

  .product-button-bblestds {
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: -4rem;
    padding: 0.5rem 2rem;
    border: #17479e;
    background: white;
    border-radius: 2rem;
  }
  .product-button-bblestds:hover {
    transition: all 0.3s ease-in-out;
    background: #17479e;
    color: white;
  }
  .product-box-bblestds:hover .product-button-bblestds {
    bottom: 6rem;
    z-index: 4;
  }

  @media screen and (max-width: 768px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .product-box-bblestds {
      height: 400px;
    }
  }
</style>
