---
import { JSW_COLORS } from "../utils/constants";
import AnchorButton from "./AnchorButton.astro";
let { title, image, buttonText, buttonLink, hasButton } = Astro.props;
---

<div
  class="download-catalogue-bblstds d-flex flex-column justify-content-center align-items-start"
  style={{
    background: `url(${image})`,
    backgroundSize: "cover",
    backgroundPosition: "center",
    backgroundRepeat: "no-repeat",
  }}
>
  <h1>
    {title}
  </h1>
  {
    hasButton && (
      <AnchorButton
        style={`background-color:${JSW_COLORS.bg.light}; color: ${JSW_COLORS.text.dark}`}
        className="mt-4"
        href={buttonLink}
        download={buttonLink}
        target="_blank"
      >
        {buttonText}
      </AnchorButton>
    )
  }
</div>

<style>
  .download-catalogue-bblstds {
    padding: 0 4rem;
    border-radius: 2rem;
    color: white;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    .download-catalogue-bblstds {
      height: 300px;
      padding: 0 2rem;
    }
  }
</style>
